@import 'variables'

.cart-overlay
  +transition(all .3s)
  background: $background-color
  bottom: 0
  height: 100vh
  left: 0
  overflow-y: scroll
  padding-top: 100px
  position: fixed
  right: 0
  top: 100vh
  width: 100%
  z-index: 2
  
  .wrapper
    +flexbox
    padding-top: 100px
  
  &.open
    top: 0

.cart-page
  margin-top: 100px

.cart-form
  width: 100%
  
.cart-totals
  margin-left: auto
  width: 400px
  
  h3
    font-size: 25px
    letter-spacing: 5px
    line-height: 40px
    margin-bottom: 15px

.cart-item-listing
  width: 700px

.cart-header
  display: none

.cart-items
  list-style: none
  margin: 0
  margin-bottom: 200px
  padding: 0
  max-width: 700px
  width: 100%
  
.cart-item
  margin-bottom: 50px

.item-top-half
  +flexbox
  +align-items(center)
  +justify-content(flex-start)
  height: 100px

.item-delete
  +flex(0 0 50px)
  background-color: $accent-background-color
  cursor: pointer
  height: 100px
  text-align: center
  width: 50px
  
  svg
    +vertical-align
    display: inline-block
    fill: $accent-text-color
    height: 29px
    width: 29px

.item-image
  +flex(0 0 200px)
  background-position: 50%
  background-size: cover
  height: 100px
  margin-left: 50px
  width: 200px

.item-quantity-holder
  margin-left: auto
  width: 50px

input.option-quantity
  +appearance(none)
  background: $background-color
  border: 2px solid $accent-background-color
  color: $text-color
  font-size: 15px
  height: 100px
  text-align: center
  width: 50px
  
.item-bottom-half
  display: none

.item-details-price
  color: $secondary-text-color
  font-size: 15px
  letter-spacing: 5px
  line-height: 25px
  
.item-details-name
  font-size: 15px
  letter-spacing: 5px
  line-height: 25px

.item-details-option
  font-size: 15px
  letter-spacing: 5px
  line-height: 25px

.item-top-details
  margin-left: 25px
  max-width: 275px
  
.cart-total-amount
  color: $secondary-text-color

.cart-discounts-shipping
  margin-top: 40px
  
.cart-shipping + .cart-discounts
  margin-top: 25px

.cart-amount 
  font-size: 13px
  margin-bottom: 15px
  letter-spacing: 2px
  
  span
    color: $secondary-text-color
  
.country-select
  background: $background-color
  border: 2px solid $accent-background-color
  height: 50px
  
  select
    color: $text-color
    
  svg
    fill: $secondary-text-color
    position: relative
    right: 20px
    
  &:hover
    color: $accent-background-color
    border-color: $accent-background-color

    select
      color: $accent-background-color
      
    svg
      fill: $secondary-text-color
    
.cart-discount-status
  +pie-clearfix
  background: $background-color
  border: 2px solid $accent-background-color
  height: 50px
  
  .cart-discount-code
    +appearance(none)
    border: none
    font-size: 11px
    height: 46px
    line-height: 46px
    outline: none
    padding: 0 30px
    width: calc(100% - 46px)
    
    
  .apply-discount
    background: $accent-background-color
    float: right
    font-size: 11px
    height: 46px
    text-align: center
    width: 46px
    
    svg
      +vertical-align
      fill: $accent-text-color
      height: 25px
      width: 25px
      
    
    
  
.checkout-btn
  margin-top: 50px
  