@import 'variables'

.home-welcome
  margin-bottom: 50px
  position: relative
  
.welcome-image
  display: block
  position:relative
  width: 100%

.welcome-message
  background: $accent-background-color
  color: $accent-text-color
  bottom: 100px
  left: 200px
  max-width: 1000px
  padding: 100px
  position: relative
  right: 0
  text-align: right
  width: 100%
  
.welcome-header
  color: $accent-text-color
  font-size: 40px
  letter-spacing: 10px
  line-height: 50px
  text-align: right

.welcome-subheader
  color: $accent-text-color
  font-size: 13px
  letter-spacing: 1px
  line-height: 20px
  text-align: right
  text-transform: none
  
.welcome-header + .welcome-subheader
  margin-top: 30px
  
.shop-all-products
  margin: 0 auto
  max-width: 300px
  width: 100%
  
#home .errors
  margin-bottom: 75px