@import 'variables'

.home-welcome
  +pie-clearfix
  margin-bottom: 50px
  position: relative
  
.welcome-image
  display: block
  position: relative
  width: 100%
  
  @media screen and (max-width: $break-small)
    width: calc(100% + 25px)

.welcome-message
  background: $accent-background-color
  color: $accent-text-color
  float: right
  max-width: calc(100% - 200px)
  padding: 100px
  position: relative
  text-align: right
  width: 100%
  
  @media screen and (max-width: $break-small)
    max-width: calc(88% + 25px)
    padding: 50px 25px
    right: -25px
    
.welcome-image + .welcome-message
  top: -100px
  
  @media screen and (max-width: $break-small)
    top: -25px
  
.welcome-header
  color: $accent-text-color
  font-size: 40px
  letter-spacing: 10px
  line-height: 50px
  text-align: right

.welcome-subheader
  color: $accent-text-color
  font-size: 13px
  letter-spacing: 1px
  line-height: 20px
  text-align: right
  text-transform: none
  
.welcome-header + .welcome-subheader
  margin-top: 30px
  
.shop-all-products
  margin: 0 auto
  max-width: 300px
  width: 100%
  
#home .errors
  margin-bottom: 75px