@import 'variables'

.home-welcome
  margin-bottom: 200px
  position: relative

.welcome-image
  display: block
  width: 100%

.welcome-message
  bottom: 50px
  left: 50px
  position: absolute
  
.welcome-header
  color: $accent-text-color
  font-size: 40px

.welcome-subheader
  color: $accent-text-color
  font-size: 13px
  
.welcome-header + .welcome-subheader
  margin-top: 30px