@import 'variables'

*
  box-sizing: border-box
  
html
  min-height: 100%
  position: relative
  
body
  background-color: $background-color
  color: $text-color
  font-family: $primary-font
  font-size: 14px
  line-height: 1
  text-transform: uppercase
  
  &.overlay-open
    overflow: hidden
      
a, a:visited
  color: $text-color
  text-decoration: none

h1, h2, h3, h4, h5, h6
  color: $text-color
  font-weight: normal
  margin: 0
  padding: 0
  text-align: left

h1, h2, h3, h4, h5, h6

button, .button
  border: 0px
  background: $accent-background-color
  color: $accent-text-color
  cursor: pointer
  display: block
  font-family: $primary-font
  font-size: 11px
  height: 64px
  letter-spacing: 1px
  line-height: 1
  outline: none
  text-transform: uppercase
  width: 100%
  
.select
  background: $accent-background-color
  color: $accent-text-color
  font-family: $primary-font
  height: 64px
  margin-bottom: 20px
  max-width: 100%
  padding: 0
  position: relative
  width: 100%

  select
    +appearance(none)
    background: none
    border: 0
    color: $accent-text-color
    font-family: $primary-font
    font-size: 11px
    height: 100%
    letter-spacing: 1px
    line-height: 2em
    padding: 0 66px 0 20px
    position: relative
    text-transform: uppercase
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none
    
  svg
    display: block
    fill: #FFFFFF
    height: 29px
    margin: 0 auto
    width: 29px
    z-index: 1

  &:hover
    color: $accent-text-color
    border-color: $accent-text-color

    select
      color: $accent-text-color
      
    svg
      fill: $accent-text-color
      
  .arrow-holder
    +flexbox
    +justify-content(center)
    +align-items(center)
    height: 64px
    position: absolute
    right: 0
    text-align: center
    top: 0
    width: 60px

.header
  height: 200px
  
  .wrapper
    +flexbox
    +align-items(center)
    +justify-content(flex-start)
    height: 200px
    
  .open-overlay
    margin-left: auto
    
.store-link
  font-size: 20px

.content

.footer
  
  .wrapper
    border-top: 25px solid $accent-background-color

.footer-links
  list-style: none
  margin: 0
  padding: 0

.footer-social-links
  list-style: none
  margin: 0
  padding: 0

.footer-credit

.wrapper
  margin: 0 auto
  max-width: 1200px
  width: 100%

.overlay
  +transition(opacity 0.3s, visibility 0.3s)
  background: $accent-background-color
  color: $accent-text-color
  font-size: 15px
  height: 50vh
  left: 0
  line-height: 40px
  opacity: 0
  overflow-y: scroll
  padding: 100px 200px
  position: fixed
  text-align: left
  top: 50vh
  visibility: hidden
  width: 100%
  z-index: 2
  
  &.open
    opacity: 1
    visibility: visible
    
  .overlay-links
    list-style: none
    margin: 0
    padding: 0
    
  a, a:visited
    color: $accent-text-color