<div class="split-page contact-page">
  <div class="page-header">
    <h1 class="page-title">{{ page.name }}</h1>
    {% if errors != blank %}
      <ul class="errors contact-errors">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  
  <div class="page-content contact-page-content">
    {% if contact.sent %}
      <div class="contact-success">
        <svg class="contact-success-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M14.5 27C7.6 27 2 21.4 2 14.5S7.6 2 14.5 2 27 7.6 27 14.5 21.4 27 14.5 27zm0-24C8.2 3 3 8.2 3 14.5S8.2 26 14.5 26 26 20.8 26 14.5 20.8 3 14.5 3zm0 17c-2.4 0-4.5-1.5-5.3-3.9l1-.3c.6 1.9 2.3 3.2 4.3 3.2s3.7-1.3 4.3-3.2l1 .3c-.8 2.4-2.9 3.9-5.3 3.9zm7.5-8h-1c0-1.1-.9-2-2-2s-2 .9-2 2h-1c0-1.7 1.3-3 3-3s3 1.3 3 3zm-9 0h-1c0-1.1-.9-2-2-2s-2 .9-2 2H7c0-1.7 1.3-3 3-3s3 1.3 3 3z"/></svg>
        
        <p>Your message has been sent and we'll get back to you soon!</p>
      </div>

    {% else %}
      <div class="page-accent"></div>
      <form method="post" action="/contact" class="contact-form">
        <div class="contact-form-block contact-name">
          <label class="contact-label" for="name-input">Name</label>
          <div class="input-holder">
            {{ contact | contact_input: 'name', tabindex: 1 }}
          </div>
        </div>
        <div class="contact-form-block contact-email">
          <label class="contact-label" for="email-input">Email</label>
          <div class="input-holder">
            {{ contact | contact_input: 'email', tabindex: 2 }}
          </div>
        </div>
        <div class="contact-form-block contact-subject">
          <label class="contact-label" for="subject-input">Subject</label>
          <div class="input-holder">
            {{ contact | contact_input: 'subject', tabindex: 3 }}
          </div>
        </div>
        <div class="contact-form-block contact-message">
          <label class="contact-label" for="message-textarea">Message</label>
          <div class="input-holder">
            {{ contact | contact_input: 'message', tabindex: 4 }}
          </div>
        </div>
        <div class="contact-form-block contact-spam">
          <label class="contact-label" for="captcha-input">Spam check</label>
          <div class="input-holder captcha-holder">
            {{ contact | contact_input: 'captcha', tabindex: 5 }} {{ contact.captcha }}
            <div class="captcha-instructions">Please enter the characters from the image.</div>
          </div>
        </div>
        <div class="contact-form-block contact-send">
          <button class="send-message-button button" type="submit" name="submit" title="Send message" tabindex="6">Send message</button>
        </div>
      </form>
    {% endif %}
  </div>
</div>



