<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body id="{{ page.permalink }}" class="{{ page.category }} {% if page.permalink != 'cart' %}{% if cart.item_count > 0 %}cart-footer{% endif %}{% endif %}">
    <header class="header">
      <div class="wrapper">
        {% if theme.logo != blank %}
          <a class="store-link" href="/" title="{{ store.name | escape }}"><img alt="{{ store.name | escape }}" src="{{ theme.images.logo.url | constrain: 600, 200 }}"></a>
        {% else %}
          <a class="store-link" href="/" title="{{ store.name | escape }}">{{ store.name }}</a>
        {% endif %}
        <a class="open-overlay" href="/products">Shop</a>
      </div>
    </header>
    <div class="content">
      <div class="wrapper">
        {% if page.category == 'custom' or page.permalink == 'success' %}
          <div class="split-page custom-page">
            <div class="page-header">
              <h1 class="custom-title page-title">{{ page.name }}</h1>
            </div>
            <div class="page-content custom-page-content">
              <div class="page-accent"></div>
              {{ page_content | paragraphs }}
            </div>
          </div>
        {% else %}
          {{ page_content }}
        {% endif %}
      </div>
    </div>
    <footer class="footer">
      <div class="wrapper">
        <div class="footer-divider"></div>
        <div class="footer-navigation">
          <ul class="footer-navigation-item footer-links">
            <li><a href="/products" title="Products">Products</a></li>
            {% for page in pages.all limit: theme.nav_items %}
              <li>{{ page | link_to }}</li>
            {% endfor %}
            {% if store.website != blank %}
              <li><a href="{{ store.website }}">Back to site</a></li>
            {% endif %}
            <li><a href="/contact" title="Contact">Contact</a></li>
          </ul>
          {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank %}
            <ul class="footer-navigation-item footer-social-links">
              {% if theme.instagram_url != blank %}
                <li><a target="_blank" title="Instagram" href="{{ theme.instagram_url }}">Instagram</a></li>
              {% endif %}

              {% if theme.twitter_url != blank %}
                <li><a target="_blank" title="Twitter" href="{{ theme.twitter_url }}">Twitter</a></li>
              {% endif %}

              {% if theme.facebook_url != blank %}
                <li><a target="_blank" title="Facebook" href="{{ theme.facebook_url }}">Facebook</a></li>
              {% endif %}

              {% if theme.pinterest_url != blank %}
                <li><a target="_blank" title="Pinterest" href="{{ theme.pinterest_url }}">Pinterest</a></li>
              {% endif %}

              {% if theme.tumblr_url != blank %}
                <li><a target="_blank" title="Tumblr" href="{{ theme.tumblr_url }}">Tumblr</a></li>
              {% endif %}
            </ul>
          {% endif %}
          <div class="footer-credit">{{ bigcartel_credit }}</div>
        </div>
      </div>
    </footer>
    <a class="footer-overlay {% if page.permalink != 'cart' %}{% if cart.item_count > 0 %}visible{% endif %}{% endif %}" href="/cart">
      <div class="wrapper footer-items">
        <span class="cart-item-title"><span class="item-count">{{ cart.item_count | pluralize: 'Item', 'Items' }}</span> in your cart</span>
        <svg class="footer-icon cart-icon" viewBox="0 0 29 29">><path d="M26.7 6.5c-.2-.3-.6-.5-1-.5H7l-.4-1.1C6.5 4.4 6 4 5.4 4H2v1h3.4c.1 0 .2.1.2.2l4.1 13.9c.2.5.7.9 1.3.9h13v-1H11c-.1 0-.2-.1-.2-.2l-.6-1.8h13.5c.6 0 1.1-.4 1.2-1l2-8.4c.1-.4.1-.8-.2-1.1zM24 15.8c0 .1-.1.2-.2.2H10h-.1L7.2 7h18.5c.1 0 .2.1.2.1.1.1.1.2.1.2l-2 8.5zM12 21c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 3c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm10-3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 3c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z"/></svg>
      </div>
    </a>
    {% if page.permalink != 'cart' %}
      <div class="cart-overlay">
        <a class="keep-shopping close-cart-overlay visible{% if page.permalink == 'cart' %} open{% endif %}" href="/products">
          <div class="wrapper header-items">
            <span class="cart-item-title">Keep shopping</span>
            <svg class="close-icon footer-icon" viewBox="0 0 29 29"><path d="M23.6 24.4l-9.1-9.2-9.1 9.2-.8-.8 9.2-9.1-9.2-9.1.8-.8 9.1 9.2 9.1-9.2.8.8-9.2 9.1 9.2 9.1z"/></svg>
          </div>
        </a>
        <div class="wrapper">
        </div>
      </div>
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script>
      var formatMoney = Format.money;

      Format.money = function(number) {
        {% case theme.money_format %}
        {% when 'sign' %}
          return formatMoney(number, true, true, false);
        {% when 'code' %}
          return formatMoney(number, true, false, true);
        {% when 'sign_and_code' %}
          return formatMoney(number, true, true, true);
        {% endcase %}
      };
    </script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script>
        var show_sold_out_product_options = '{{ theme.show_sold_out_product_options }}';
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>