<div class="category-navigation">
  {% if page.full_url contains "/products" %}All Products{% else %}{{ page.name }}{% endif %}
  <svg viewBox="0 0 29 29"><path d="M27 22H2v-1h25v1zm0-7H2v-1h25v1zm0-7H2V7h25v1z"/></svg>
</div>

{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <ul class="products-page-products product-list">
      {% for product in products %}
        {% assign product_status = '' %}
        {% case product.status %}
        	{% when 'active' %}
        		{% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
        	{% when 'sold-out' %}
        		{% assign product_status = 'Sold out' %}
        	{% when 'coming-soon' %}
        		{% assign product_status = 'Coming soon' %}
        {% endcase %}
        <li class="product-card {{ product.css_class }}">
          <a class="product-link" href="{{ product.url }}">
            <div class="product-info">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-price">{{ product.default_price | money_with_sign }}</div>
              {% if product_status != blank %}
                <div class="product-status">{{ product_status }}</div>
              {% endif %}
            </div>
            <div class="product-image-holder">
              <img alt="Image of {{ product.name | escape }}" class="product-image" src="{{ product.image | product_image_url | constrain: '1000' }}">
            </div>
          </a>
          <div class="product-accent"></div>
        </li>
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
      <div class="pagination"><a class="button next-button paginate-button" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a></div>
      
      <div class="page-load-status">
        <div class="infinite-scroll-request">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 25 25"
              to="360 25 25"
              dur="0.6s"
              repeatCount="indefinite"/>
            </path>
          </svg>
          <div class="loading-more">Loading More</div>
        </div>
        <div class="infinite-scroll-last">End of content</div>
        <div class="infinite-scroll-error">No more pages to load</div>
      </div>
    {% endif %}
  {% else %}
    <div class="empty-products"><p class="no-products-message">No products found.</p></div>
  {% endif %}
{% endpaginate %}

