{% assign product_status = '' %}
{% case product.status %}
	{% when 'active' %}
		{% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
	{% when 'sold-out' %}
		{% assign product_status = 'Sold out' %}
	{% when 'coming-soon' %}
		{% assign product_status = 'Coming soon' %}
{% endcase %}
<div class="product-page">
  <div class="product-page-images">
    <div class="product-page-accent">
      {% if product.images.size > 1 %}
        <div class="custom-navigation">
          <a href="#" class="flex-control flex-prev"><svg class="nav-arrow left-arrow" viewBox="0 0 29 29"><path d="M14.5 19.5c-.1 0-.3 0-.4-.1l-10-10 .7-.7 9.6 9.6L24 8.7l.7.7-10 10c.1.1-.1.1-.2.1z"/></svg></a>
          <div class="custom-controls-container"></div>
          <a href="#" class="flex-control flex-next"><svg class="nav-arrow right-arrow" viewBox="0 0 29 29"><path d="M14.5 19.5c-.1 0-.3 0-.4-.1l-10-10 .7-.7 9.6 9.6L24 8.7l.7.7-10 10c.1.1-.1.1-.2.1z"/></svg></a>
        </div>
      {% endif %}
    </div>
    <div class="product-images-list {% if product.images.size > 1 %}slides{% endif %}">
      {% for image in product.images %}
        <div class="product-list-image">
          <a class="image" href="{{ image | product_image_url | constrain: 1500 }}">
            <img src="{{ image | product_image_url | constrain: 1500 }}" alt="Image of {{ product.name | escape }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="product-page-details">
    <div class="product-page-info">
      <div class="product-name">{{ product.name }}</div>
      <div class="product-price">
        {% if product.variable_pricing %}
          <span class="product-price-inner">{{ product.min_price | money: theme.money_format }}</span> - <span class="product-price-inner">{{ product.max_price | money: theme.money_format }}</span>
        {% else %}
          {{ product.default_price | money: theme.money_format }}
        {% endif %}
      </div>
      {% if product_status != blank %}
        <div class="product-status">{{ product_status }}</div>
      {% endif %}
    </div>
  	{% if product.status == 'active' %}
      <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {% if product.has_option_groups %}
            <div class="product_option_groups">
              <input id="option" name="cart[add][id]" type="hidden" value="0">
              {% for option_group in product.option_groups %}
                <div class="select">
                  <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                    <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                    {% for value in option_group.values %}
                      <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="select">
              <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select option">
                <option value="0" disabled="disabled" selected>Select option</option>
                {% for option in product.options %}
                  <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                {% endfor %}
              </select>
              <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          {% endif %}
        {% endif %}
        {{ product | product_quantity_input, 1, 'product-quantity', 'product-quantity' }}
        <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>
          <span class="button-text">Add to Cart</span>
          <span class="status-icon add-icon"><svg viewBox="0 0 29 29"><path d="M15 27h-1V15H2v-1h12V2h1v12h12v1H15z"/></svg></span>
          <span class="status-icon success-icon"><svg viewBox="0 0 29 29"><path d="M14.5 27C7.6 27 2 21.4 2 14.5S7.6 2 14.5 2 27 7.6 27 14.5 21.4 27 14.5 27zm0-24C8.2 3 3 8.2 3 14.5S8.2 26 14.5 26 26 20.8 26 14.5 20.8 3 14.5 3zm0 18c-3 0-5.5-3-5.5-5.5 0-.3.2-.5.5-.5h10c.3 0 .5.2.5.5 0 2.5-2.5 5.5-5.5 5.5zM10 16c.3 1.9 2.2 4 4.5 4s4.2-2.1 4.5-4h-9zm12-4h-1c0-1.1-.9-2-2-2s-2 .9-2 2h-1c0-1.7 1.3-3 3-3s3 1.3 3 3zm-9 0h-1c0-1.1-.9-2-2-2s-2 .9-2 2H7c0-1.7 1.3-3 3-3s3 1.3 3 3z"/></svg></span>
        </button>
        {{ store | instant_checkout_button: "dark", "44px" }}
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button" title="Reset selection" type="reset">Reset selection</button>
          </div>
        {% endif %}
      </form>


  	{% endif %}
  	<div class="product-description">
  		{% if product.description != blank %}
  			{{ product.description | paragraphs }}
  		{% endif %}
  	</div>
  </div>
</div>
